*{padding: 0px;
    margin: 0px;}    

body {color: whitesmoke;
        background: rgb(66, 32, 0);
        background-image: linear-gradient(90deg, rgba(238, 115, 0, 0.5) 50%, transparent 0),
                          linear-gradient(rgba(56, 255, 99, 0.5) 50%, transparent 0);
                          background-size: 30px 30px;}
ul {display:flex;  
    list-style:none;
    }


nav { display: flex;
	align-items: center;
	justify-content: space-between;
    background: rgb(91, 91, 91);
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    color: white;
}

span{color:#563400;}

.btn { background: rgb(203, 108, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 14px 25px;
    margin-right: 30px;
    color: white;

}

li a:link, li a:visited, .btn:link, .btn:visited {

color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

footer {
	align-items: center;
	justify-content: space-between;
    background: rgb(108, 59, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: flex-start;
    margin: 0px;
    padding: 40px;
    color: white;}
    
li a:hover, li a:active, .btn:hover, .btn:active {
    background-color: rgb(176, 95, 3);
    }

.banner {background-image: url(bgphoto.jpg) ;
        background-size: 100% 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 0px;
        margin-top: -20px;
    }

    h1, h2, h3 {color: rgb(220, 103, 0);
      padding: 10px;
      margin-bottom: 20px;}
h1 {font-size: 50px;}

h2 {font-size: 30px;}

h3 {font-size: 20px;}

iframe {
        padding: 0px;
        border: 0px;}
hr {border: 0px;
    padding: 1px;
    
    background-color: rgba(210, 124, 43, 0.397);}
.social {display: flex;
	align-items: center;
	justify-content: space-between;
    }


.links { text-align: center;
            margin: 0px;
        }


section {background-image: linear-gradient(90deg, rgba(163, 120, 0, 0.5) 50%, transparent 0),
    linear-gradient(rgba(243, 166, 0, 0.5) 50%, transparent 0);
    background-size: 30px 30px;
        ;}


.about {margin: 5% 10% 10% 10%;
                padding: 50px;
                background-color: rgb(255, 231, 195);
                color: black;
                text-align: center;
                line-height: 50px;
                border-radius: 20px;}

.discover {
                  padding: 50px;
                  background-color: rgb(255, 231, 195);
                  color: black;
                  text-align: center;
                  line-height: 50px;
                  border-radius: 20px;}
.team {display: flex;
        justify-content: space-between;
        text-align: center;
        }
       
        .material-symbols-sharp {

          
          font-variation-settings:
          'FILL' 0,
          'wght' 900,
          'GRAD' 0,
          'opsz' 48
        }
        
        .serviceimg {
                width:500px;
                height:400px;
                padding: 50px 20px 50px;
                border: none    ;
}

.socialimg {width:15%;
  height:30%;
  border: none;
padding:0px;}

  div a { color: white;
    padding: 0px;
    text-decoration: none;}

/* contact form */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .contact { text-align: left;
    margin: 50px;
    border-radius: 5px;
    background-color: #ffe8ad;
    padding: 30px;}


.calender {padding: 20px;
            margin: 5%;
            }

table {text-align: left;
        font-size: 20px;
        background-color: #7d4900;
        padding: 20px;
        margin: 20px;
        border-radius: 2px;
        
        }
        #map {
            height: 500px;
            width: 500px;
            margin: 10%;
            padding: 20px;
          }

/*sign up page*/

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #563400;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover, .cancelbtn:hover{
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #ac7e1b;
    color: black;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }


  .cd-schedule__group > ul {
    position: relative;
    padding: 0 var(--component-padding);
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .cd-schedule__event {
    flex-shrink: 0; 
    float: left;
    height: 150px;
    width: 70%;
    max-width: 300px;
  }

  /* modal*/

  .cd-schedule-modal {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform .4s, visibility .4s;
  }
  
  .cd-schedule-modal--open { 
    transform: translateX(0);
    visibility: visible;
  }

  .js {
      @include breakpoint(md) {
      .cd-schedule__events {
        width: 100%;
  
        > ul {
          display: flex;
          flex-wrap: nowrap;
        }
      }
  
      .cd-schedule__group {
        flex-basis: 0;
        flex-grow: 1;
      }
  
      .cd-schedule__event {
        position: absolute;
        z-index: 3;
        width: calc(100% + 2px); // top position and height will be set using js
        left: -1px;
      }
    }
  }
  /* event*/


  .title{
    color: lime;
    text-transform: uppercase;
    font-weight: 800;
  }
  
  .inputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inputt{
      padding: 0.5rem 1rem;
      outline: none;
      border: none;
      height: 50px;
      border-radius: 25px;
      width: 350px;
      margin: 0.25rem;
      transition: .5s;
      font-size: 1.15rem;
  }
  
  .add{
    outline: none;
      border: none;
      height: 50px;
      border-radius: 25px;
      width: 50px;
      background-color: lime;
      color: white;
      cursor: pointer;
      transition: .5s;
      margin: 0.25rem;
  }
  
  .add:hover{
    opacity: 0.7;
  }
  
  .containerr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }
  
  .item{
    padding: 0.5rem;
    border-bottom: 4px solid #fff;
    margin-bottom: 1.5rem;
  }
  
  .item_input{
    background: none;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.4rem;
    width: 245px;
  }
  
  .edit{
    background: none;
    outline: none;
    border: none;
    color: lime;
    font-size: 1.4rem;
    font-family: 'Hind', sans-serif;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  
  .remove{
    background: none;
    outline: none;
    border: none;
    color: #E00;
    font-size: 1.4rem;
    font-family: 'Hind', sans-serif;
    cursor: pointer;
  }
  